<div class="featurette" id="details">
    <img class="featurette-image img-circle img-responsive pull-left" src="images/icons/interests.png"
         alt="Interests">
    <h2 class="featurette-heading">About Me</h2>

    <h3><span class="text-muted">Personal Details</span></h3>
    <p class="lead">Information and Communications Technology (ICT) student with relevant employment experience and
        strong
        interpersonal skills seeking a graduate or junior software development position commencing summer 2017.</p>
    <div class="panel panel-primary">
        <div class="panel-heading clickable" data-toggle="collapse" href="#collapse1">
            <h3 class="panel-title text-center">Read More About Me</h3>
        </div>
        <div id="collapse1" class="panel-body collapse">
            <p class="lead">Developed numerous programs in college using Java, SQL and C#, as well as 7 months’ work
                experience
                with LMI Ericsson as a software engineer intern.</p>
            <p class="lead">I also have customer-facing experience, problem solving, task management and gained valuable
                experience
                in a commercial setting during my 7 years employment prior to commencing college with O’Doherty’s Audio
                and Video
                Productions.</p>
            <p class="lead">I am looking for a graduate or junior software development position with a view to utilizing
                the
                opportunity to enhance my skills and experience.</p>
        </div>
    </div>
</div>