<div class="featurette" id="myAchievements">
    <img class="featurette-image img-responsive pull-right" src="images/icons/achievements.png"
         alt="Achievements">
    <h2 class="featurette-heading">Personal Achievemnets</h2>
    <br/>
    <h3><span class="text-muted">Professional</span></h3>
    <br/><br/>
    <div class="panel panel-primary">
        <div class="panel-heading clickable" data-toggle="collapse" href="#collapse7">
            <h3 class="panel-title text-center">Read More About My Professional Achievements</h3>
        </div>
        <div id="collapse7" class="panel-body collapse">
            <p class="lead" style="padding-left:5em">Professional Achievements
                <br/>• Student prefect in 6th year while a student at Naas C.B.S.
                <br/>• Promotion to head of VT department in ODAV in 2008.
                <br/>• Established good working relationships with customers / clients.
                <br/>• Developed and implemented new concepts for archiving the major race meetings onto
                broadcast formats over DVD.</p>
        </div>
    </div>
    <h3><span class="text-muted">Sporting</span></h3>
    <br/>
    <div class="panel panel-primary">
        <div class="panel-heading clickable" data-toggle="collapse" href="#collapse8">
            <h3 class="panel-title text-center">Read More About My Sporting Achievements</h3>
        </div>
        <div id="collapse8" class="panel-body collapse">
            <p class="lead" style="padding-left:5em">Sporting Achievements
                <br/>• Wicklow GAA under 16 league winner medal.
                <br/>• Keen follower of many sports including rugby, football, Formula One, darts and tennis
        </div>
    </div>
</div> <!-- /Achievements -->