<div class="featurette" id="mycv">
    <img class="featurette-image img-responsive pull-right" src="images/icons/cv.png" alt="References">
    <h2 class="featurette-heading">Download CV</h2>
    <h3><span class="text-muted">CV Download Links</span></h3>
    <div style="margin: 0% 30%;">
        <div class="col-xs-8 col-sm-9 col-md-4 col-lg-4 text-center logoImg">
            <a href="bin/PeterBradyCV.docx">
                <img class="" src="images/icons/docx.png" alt="WordDoc">
                <p>Word</p>
            </a>
        </div>
        <div class="col-xs-8 col-sm-9 col-md-4 col-lg-4 text-center logoImg">
            <a href="bin/PeterBradyCV.pdf" target="_blank">
                <img class="" src="images/icons/pdf.png" alt="PDF">
                <p class="text-center">PDF</p>
            </a>
        </div>
    </div>
</div> <!-- /CV -->