<div class="featurette" id="ericsson">
    <a href="http://www.ericsson.com" target="_blank">
        <img class="featurette-image img-responsive pull-left logoImg" src="images/logos/ericsson_logo.png"
             alt="Ericsson Logo">
    </a>
    <h2 class="featurette-heading">LMI Ericsson</h2>
    <h3><span class="text-muted">Software Engineer Intern</span></h3>
    <h3>February 2016 - August 2016 (7 Months)</h3>
    <br/>
    <br class="visible-md visible-sm visible-xs"/>
    <div class="panel panel-primary">
        <div class="panel-heading clickable" data-toggle="collapse" href="#collapse2">
            <h3 class="panel-title text-center">Read More About Ericsson</h3>
        </div>
        <div id="collapse2" class="panel-body collapse">
            <p class="lead">Ericsson are a multinational networking and telecommunications company headquartered
                in Stockholm, Sweden.
                The company offers services, software and infrastructure in information and communications
                technology (ICT) for
                telecommunications operators. In 2012, Ericsson had a 35% market share in the 2G/3G/4G mobile
                network infrastructure
                market. Their Irish campus is based in Athlone, Co Westmeath.</p>
            <p class="lead" style="padding-left:5em">Main Responsibilities
                <br/>• Responsible for the development of the BOAT tool, which is a Java, Swing and SQL based
                tool used by customer
                support to track customer service requests.
                <br/>• Duties included gathering requirements, coding, testing, documenting and the delivery of
                software at set intervals.
                <br/>• Good communication skills were required working in a team environment, listening to and
                understanding the features
                and requirements needed by the customer support team. Often worked under pressure on challenging
                features to meet
                demanding deadlines.</p>
        </div>
    </div>
</div> <!-- /Ericsson -->