<div class="featurette" id="hri">
    <a href="http://www.hri.ie" target="_blank">
        <img class="featurette-image img-responsive pull-left logoImg" src="images/logos/hri_logo.png" alt="HRI Logo">
    </a>
    <h2 class="featurette-heading">Horse Racing Ireland</h2>
    <h3><span class="text-muted">Camera Operator</span></h3>
    <h3>February 2001 - December 2005 (4 Years 10 Months)</h3>
    <br/>
    <div class="panel panel-primary">
        <div class="panel-heading clickable" data-toggle="collapse" href="#collapse5">
            <h3 class="panel-title text-center">Read More about Horse Racing Ireland</h3>
        </div>
        <div id="collapse5" class="panel-body collapse">
            <p class="lead">Horse Racing Ireland is the national authority for thoroughbred horse racing in
                Ireland. The Camera Patrol
                division used television cameras and equipment to film races from different angles for exclusive
                use by the racecourse
                stewards. These images were to ensure that the races were run in accordance to racing rules and
                provided visual evidence
                for stewards enquires and appeals.</p>
            <p class="lead" style="padding-left:5em">Main Responsibilities
                <br/>• To provide good quality camera work and know the different aspects of the race to watch
                for depending on the
                camera position and role on the day.
                <br/>• Job entailed travelling all over Ireland on a near-daily basis.
                <br/>• Good problem solving ability and willingness to fix issues that arose between races or
                with your own equiptment.
                <br/>• This job demanded extreme level of work during busy periods, in all type of locations and
                weather conditions.</p>
        </div>
    </div>
</div> <!-- /HRI -->