<div class="featurette" id="ITT">
    <a href="http://www.it-tallaght.ie/" target="_blank">
        <img class="featurette-image img-responsive pull-right logoImg" src="images/logos/it_tallaght_logo.png"
             alt="IT Tallaght Logo">
    </a>
    <h2 class="featurette-heading">IT Tallaght</h2>
    <h3><span class="text-muted">BSc (Hons) in Computer Science with Software Development</span></h3>
    <h3>(2013 - 2017)</h3>
    <p class="lead">I will have spent 4 years at the Institute of Technology, Tallaght beginning
        in 2013 and completing shortly in mid 2017. I am expecting to graduate with a 1.1 Honours Degree having
        maintained a high GPA
        every year throughout the course thus far.</p>

    <!-- GPA -->
    <div class="list-group" id="GPA">
        <a href="#GPA" class="list-group-item active disable-me">
            <h4 class="list-group-item-heading">GPA</h4></a>

        <a data-toggle="modal" data-target="#gpaYr4" class="list-group-item clickable">
            <h4 class="list-group-item-heading">Year 4</h4>
            <p class="list-group-item-text">Currently 3.35</p></a>

        <a data-toggle="modal" data-target="#gpaYr3" class="list-group-item clickable">
            <h4 class="list-group-item-heading">Year 3</h4>
            <p class="list-group-item-text">3.18</p></a>

        <a data-toggle="modal" data-target="#gpaYr2" class="list-group-item clickable">
            <h4 class="list-group-item-heading">Year 2</h4>
            <p class="list-group-item-text">3.79</p></a>

        <a data-toggle="modal" data-target="#gpaYr1" class="list-group-item clickable">
            <h4 class="list-group-item-heading">Year 1</h4>
            <p class="list-group-item-text">3.54</p></a>

    </div> <!-- /GPA List Group -->
</div> <!-- /ITT -->