<div class="featurette" id="murphys">
    <a href="http://www.murphysbar.ie" target="_blank">
        <img class="featurette-image img-responsive pull-left logoImg" src="images/logos/murphys_logo.png"
             alt="Murphys Logo">
    </a>
    <h2 class="featurette-heading">Murphy's Bar & Lounge</h2>
    <h3><span class="text-muted">Part-Time Shop Attendant / Kitchen Porter</span></h3>
    <h3>November 2013 - Present</h3>
    <br/>
    <div class="panel panel-primary">
        <div class="panel-heading clickable" data-toggle="collapse" href="#collapse3">
            <h3 class="panel-title text-center">Read More About Murphy's Bar and Lounge</h3>
        </div>
        <div id="collapse3" class="panel-body collapse">
            <p class="lead">
                Murphy’s bar is a family run pub located on Blessingtons Main Street. Located on the N81 route,
                Murphy’s provides food and drink
                to a busy passing trade aswell local residents of Blessington. Adjacent to the pub is Wonka's
                sweet shop which sells a wide range
                of old fashioned sweets as well as balloons and party decorations.</p>
            <p class="lead" style="padding-left:5em">Main Responsibilities
                <br/>• Keeping onto top of a busy trade by keeping plates and cutlery washed and stocked for the
                chefs.
                <br/>• Operating the cash register and distributing sweets, balloons and party decorations to
                customers..
                <br/>• Duties included gathering requirements, coding, testing, documenting and the delivery of
                software at set intervals.
                <br/>• Good communication skills with customers and other staff.</p>
        </div>
    </div>
</div> <!-- /Murphys -->