<div class="featurette" id="odohertys">
    <a href="http://www.odav.tv" target="_blank">
        <img class="featurette-image img-responsive pull-left logoImg" src="images/logos/odav_logo.png"
             alt="O'Dohertys Logo">
    </a>
    <h2 class="featurette-heading">O'Dohertys Audio & Video Productions</h2>
    <h3><span class="text-muted">VT Manager</span></h3>
    <h3>July 2007 - August 2013 (6 Years 1 Month)</h3>
    <h3><span class="text-muted">Camera Operator</span></h3>
    <h3>December 2004 - July 2007 (2 Years 7 Months)</h3>
    <br/>
    <div class="panel panel-primary">
        <div class="panel-heading clickable" data-toggle="collapse" href="#collapse4">
            <h3 class="panel-title text-center">Read More about O'Dohertys Audio & Video Productions</h3>
        </div>
        <div id="collapse4" class="panel-body collapse">
            <p class="lead">ODAV are a family owned outside broadcast company specializing in the production and
                broadcasting of Irish
                horse racing. Based in Clondalkin, Dublin 22. O’Doherty’s were the main televised provider of
                Irish racing to the racetrack,
                SIS and At The Races. O’Doherty’s also provided the public address at Irish racecourses.
                Alongside with racing, O’Doherty’s
                have also done many main events in Ireland including the St Patrick’s Day parade, the Carrol’s
                Irish Open Golf, Fianna Fail
                Ard Fheis, concerts in the National Concert Hall, Slane and many more.</p>
            <p class="lead" style="padding-left:5em">Main Responsibilities
                <br/>• Good communication skills were required working in a team environment and also when it
                came to dealing with the clients
                of the company. Often worked under pressure to meet demanding deadlines in a tight timeframe and
                this brought out the
                best of my problem solving skills.
                <br/>• Job entailed travelling all over Ireland on a near-daily basis, and the recording of live
                races onto various different
                media formats. Creatively weaving together visual and audio materials created during the
                production process of a horse race,
                and combining them with other media, graphics, subtitles, archive footage, etc., to create a
                variety of final products for
                purchase by owners and trainers of the horses involved in races. I digitized this media and made
                copies for future sale and
                record.
                <br/>• Often I was required to work in other areas such as vision mixing / directing, sound
                engineering or as a camera operator
                so adaptability and flexibility was an invaluable attribute.
                <br/>• Used oscilloscopes and audio meters, reading TV and video signals, and understanding how
                they work. I have good knowledge
                of compression, and I am able to utilize VT Recorders (VTRs) in normal and abnormal settings. I
                managed equipment and
                identified faults, resolving these faults with appropriate solutions, I fixed things quickly and
                correctly.
                <br/>• This job demanded extreme level of work during busy periods, in all type of locations and
                weather conditions.</p>
        </div>
    </div>
</div> <!-- /O'Dohertys -->