<div class="featurette" id="myreferences">
    <img class="featurette-image img-responsive pull-left" src="images/icons/references.png" alt="References">
    <h2 class="featurette-heading">References</h2>
    <h3><span class="text-muted">Professional Contacts</span></h3>
    <p class="lead">Written references and further references are available upon request.</p>
    <br/>
    <div class="panel panel-primary">
        <div class="panel-heading clickable" data-toggle="collapse" href="#collapse9">
            <h3 class="panel-title text-center">Read More About My Professional References</h3>
        </div>
        <div id="collapse9" class="panel-body collapse">
            <div style="margin: 0% 10%;">
                <div class="col-md-6">
                    <p class="lead"><strong>Paul Johnston</strong>
                        <br/>Director.
                        <br/>O’Doherty’s Audio & Video Productions Ltd.
                        <br/>Phone: 086-2567912
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="lead"><strong>Elaine Casey</strong>
                        <br/>Bar Manager.
                        <br/>Murphys Bar and Lounge, Blessington
                        <br/>Phone: 087-6534637
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /References -->