<div class="featurette" id="itskills">
    <img class="featurette-image img-responsive pull-left" src="images/icons/skills.png" alt="Skills">
    <h2 class="featurette-heading">IT Skills</h2>
    <h3><span class="text-muted">My Professional Skills</span></h3>
    <p class="lead">From my time in education at Institute of Technology, Tallaght I have learned some of the
        key IT
        skills required in the IT industry, I have put these skills to practical use in Continuas Assessment
        work and projects
        that were required from me throughout the 4 year course. I hope to further build on these skills and
        learn new ones
        when I start working in the IT industry.</p>
    <br/>
    <div class="panel panel-primary">
        <div class="panel-heading clickable" data-toggle="collapse" href="#collapse6">
            <h3 class="panel-title text-center">Read More About My Professional Skills</h3>
        </div>
        <div id="collapse6" class="panel-body collapse">
            <p class="lead" style="padding-left:5em">Main Skills
                <br/>• Confident user of Java, C++ and C#.
                <br/>• Can write SQL queries to intermediate level using Oracle 11G and MYSQL.
                <br/>• Can design and create database schemas.
                <br/>• Capable of designing developing websites using HTML, CSS, JavaScript, Angular JS and
                Twitter Bootstrap.
                <br/>• Competent user of Windows and Linux Operating Systems in system administration and
                command line interfaces.
                <br/>• Design build and troubleshoot a network using routers, switches and hubs.
                <br/>• Configure a router using the Cisco IOS command set.
                <br/>• Design programs using object orientated systems analysis and design.
                <br/>• Software quality and testing techniques such as Black and White Box testing and
                developing unit tests.</p>
        </div>
    </div>
</div> <!-- /Skills -->